@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Sistema de Controle de Contatos<p/>
</div>

<div class="text-center">
    <br/>
    <h2 class="display-6">Vá para a página "Contatos" para gerenciar seus contatos</h2>
</div>
